<div class="page-header">
  <h1>Login to your account.</h1>
</div>

<div class="well powerpuffgirl">
  <%= form_for(:session, html: {class: "form-inline"}) do |f|%>
    <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    <%= f.submit "Login", class: "btn btn-primary" %>
  <% end %>

  <br />
  <%= link_to 'Create Account', new_user_path, class: "btn btn-info" %>
  <%= link_to 'Login With Twitter',  twitter_login_path, class: "btn btn-info" %>
</div>
