<h1>Admin Dashboard</h1>

Ordered: <%= @breakdown['ordered'] || 0 %>
Paid: <%= @breakdown['paid'] || 0 %>
Cancelled: <%= @breakdown['cancelled'] || 0 %>
Completed: <%= @breakdown['completed'] || 0 %>

<%= link_to 'Ordered', admin_dashboard_index_path(filter_by: 'ordered') %>

<%= link_to 'Paid', admin_dashboard_index_path(filter_by: 'paid') %>

<%= link_to 'Cancelled', admin_dashboard_index_path(filter_by: 'cancelled') %>

<%= link_to 'Completed', admin_dashboard_index_path(filter_by: 'completed') %>

<% @orders.each do |order| %>
  <%= link_to "Order #{order.id}", order_path(order) %>
  
  <% if order.status == 'paid' || order.status == 'ordered' %>
    <%= button_to "Cancel order", order_path(order, new_status: 'cancelled'), method: 'patch' %>
  <% end %>
  
  <% if order.status == 'ordered' %>
    <%= button_to "Mark as Paid", order_path(order, new_status: 'paid'), method: 'patch' %>
  <% elsif order.status == 'paid' %>
    <%= button_to "Mark as Completed", order_path(order, new_status: 'completed'), method: 'patch' %>
  <% end %>
    
<% end %>
