<div class="page-header">
  <h1>Create your brand spanking new account!!</h1>
</div>

<%= form_for(@user) do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirm" %>
  <%= f.submit "Create Account"%>
<% end %>
