<h1>ALL THE ITEMS!!!!!!!!!</h1>

<p><%= image_tag "http://i2.kym-cdn.com/photos/images/original/000/187/320/6a1.png" %></p>

<% @items.each do |item| %>
  <%= image_tag item.image %>
  <%= item.title %>
  <% if item.retired %>
    <%= Item Retired %>
  <% else %>
    <%= button_to "Add to Cart", cart_path(item_id: item.id) %>
  <% end %>
<% end %>

