<%= image_tag @item.image, class: "col-md-4" %>
<div class="page-header col-md-8">
  <h1><%= @item.title %></h1>
</div>
<p><%= @item.description %></p>
<p><%= number_to_currency(@item.price) %></p>

<% if @item.retired %>
Item Retired
<% else %>
  <%= button_to "Add to Cart", cart_path(item_id: @item.id) %>
<% end %>
