<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Raleway" rel="stylesheet">
  </head>

  <body class="brown">
    <div class="container">

      <%= render partial: 'layouts/navbar' %>

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= sanitize(flash[:notice]) %>
        </div>
      <% end %>

    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
