<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href='/'>Turing Antiques</a>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "All Items", items_path %></l>
          <li><%= link_to "View Cart", cart_path %></li>
          <% if current_user %>
            <li class="navbar-text">
              Logged in as <%= current_user.username %>
            </li>
            <li> <%= link_to "Logout", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= sanitize(flash[:notice]) %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
