<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar">
      <% if current_user %>
        Logged in as <%= @user.username %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      <%= link_to "View Cart", cart_path %>
    </div>
    <%= sanitize(flash[:notice]) %>
    <%= yield %>
  </body>
</html>
