<!DOCTYPE html>
<html>
  <head>
    <title>Littleshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "View Cart", cart_path %>
    <%= sanitize(flash[:notice]) %>
    <%= yield %>
  </body>
</html>
